.header{
    &-main{
        display: flex;
        align-items: center;
        height: 90px;
        &-left{
            display: flex;
            align-items: center;
            padding-left: 50px;
            width: 7%;
            &-img{
                width: 30%;
                height: 30%;
            }
            &-text{
                font-size: 20px;
                font-weight: 600;
            }
        }
        &-middle{
            width: 55%;
            padding-left: 75px;
        }
        &-right {
            gap: 15px;
            display: flex;
            margin-left: 100px;
            &-text{
                margin-left: -15px;
                font-size: 12px;
            }
        }
    }
}